# Debug
private-key.ts
test.ts
*.log
# Bundle
*.mjs
main.js
*cov_profile*
Elm
DevOps/stats.sqlite
*.DS_Store
.DS_Store
build-pwa
build-extension
*.zip
# tauri
tauri-build/src-tauri/icons
.idea
